html {
  scroll-behavior: smooth;
}
body {
  font-family: "EB Garamond", serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-image: url(images/0b340f_3996ca4661ef4803abd7db2f7e547718~mv2.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* header */
header {
  display: inline;
  color: white;
  font-size: 18px;
  padding: 5vh;
}
header nav p {
  font-size: medium;
  margin-left: 10px;
}
#div1 {
  margin-bottom: 0;
  margin-top: 0;
  background-color: black;
}
nav ul {
  display: inline;
  margin-inline-start: 59%;
}
nav ul li {
  display: inline;
  padding-right: 20px;
}
/* hover effect start */
nav ul li a {
  position: relative;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
  transition: border-bottom 1s;
}
nav ul li a:hover {
  width: fit-content;
  border-bottom: 2px solid red;
}
/* hover effect end */
#menu_icon {
  display: none;
}
@media screen and (max-width: 768px) {
  #menu_icon {
    display: block;
    float: inline-end;
    padding: 0;
    padding-right: 25px;
  }
  #nav_menu {
    display: none;
  }
  #menu_icon.active + #nav_menu {
    display: block;
  }
  #nav_menu li {
    display: block;
  }
}

/* header */

#restaurant_icon img {
  width: 60vh;
  height: 60vh;
  border-radius: 50%;
  margin: auto;
  margin-top: 15vh;
  box-shadow: 10px 10px 10px rgba(8, 1, 1, 0.8);
  background-attachment: local;
  background-size: cover;
  transition: transform 1.5s ease-in-out;
}

#restaurant_icon img:hover{
  transform: rotateY(360deg);
}


section {
  margin: auto;
  margin-bottom: 10px;
  padding: 20px;
  color: white;
  width: fit-content;
  text-align: center;
}
section p a {
  color: white;
  font-size: small;
}
#home {
  margin-top: 15vh;
  margin-bottom: 15vh;
  width: auto;
  opacity: 80%;
  background-color: black;
  line-height: 4vh;
  font-size: larger;
}
#home h1 {
  font-family: "Dancing Script", cursive;
  font-family: "Great Vibes", cursive;
  font-size: 8vh;
}
#contact {
  width: auto;
  height: auto;
  margin: 0;
  padding-bottom: 1vh;

  color: white;
  background-color: rgb(9, 0, 0, 0.8);
}

#contact a {
  color: white;
  text-decoration: none;
}
footer {
  height: 10vh;
  margin-top: 0;
  padding-top: 3vh;
  display: block;
  background-color: black;
  color: white;
  text-align: center;
}
